<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link href="assets/css/normalize.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <script src="vendor/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- Configuration State -->
      <section class="state__setup" v-show="appState === 'setup'">
        <img src="./assets/images/semaphore.png" class="state__setupLogo" />

        <h1 class="state__setupTitle">Hello!</h1>
        <h2 class="state__setupSubTitle">Sign In via User <span>TOKEN</span></h2>

        <form v-on:submit="saveToken">
          <input type="text" v-model="formToken" placeholder="Paste your token here" class="state__setupTokenInput" required />

          <button class="state__setupSubmit" type="submit" >Sign in</button>
        </form>

        <a v-on:click="openTokenUrl" href="#" class="state__setupTokenLink">Where's my token?</a>
      </section>
      <!-- Configuration State -->

      <!-- Loading State -->
      <section class="state__loading" v-show="appState === 'loading'">
        <div class="state_loadingContent">
          <img src="./assets/images/semaphore-gear.png" class="state__loadingLogo" />
          <p class="state__loadingText">Loading your projects...</p>
        </div>
      </section>
      <!-- Loading State -->

      <!-- List State -->
      <section class="state__projectList" v-show="appState === 'list'">
        <section class="state__projectListHeader">
          <h1 class="state__projectListHeaderTitle">Your Projects</h1>
          <div class="state__projectListHeaderButton">
            <a href="#" v-on:click="toggleMenu"><img src="./assets/images/semaphore-gear.png" class="state__projectListHeaderButtonIcon" /></a>

            <div class="settingsMenu" v-show="openMenu">
              <settings-menu-toggle-notification></settings-menu-toggle-notification>
              <settings-menu-exit></settings-menu-exit>
            </div>
          </div>
        </section>

        <div class="state__projectListHeaderSearch">
          <img src="./assets/images/search-icon.png" class="state__projectListHeaderSearchIcon" />
          <input v-model="searchQuery" type="text" class="state__projectListHeaderSearchInput" autofocus="" placeholder="Filter by name..." />
        </div>

        <ul class="state__projectListItems">
          <li v-for="item in filteredProjects" class="state__projectListItem" v-on:click="openProjectUrl(item.html_url)">
            <img :src="'assets/images/statuses/icon-deploy-' + item.branches[0].result + '.png'" alt="Build Status Flag" class="state__projectListItemFlag" />
            <p class="state__projectListItemDescription">{{ item.owner }} <span>/</span> {{ item.name }}</p>
          </li>
        </ul>
      </section>
      <!-- List State -->
    </div>

    <script src="src/browser.js"></script>
  </body>
</html>
