/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  overflow: hidden;
  font-family: "Helvetica", sans-serif;
}

img {
  margin: 0 auto;
  max-width: 50%;
  border: 0;
  display: block;
}

h1 {
  font-size: 1.6em;
}

#app {
  padding: 20px 10px 0 10px;
  width: 100vw;
  text-align: center;
}

.projects {
  list-style-type: none;
}

.projects li {
  clear: both;
}
.projects img {
  float: left;
}

.projects strong {
  float: right;
  text-align: left;
}
