/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: none;
}

html,
body {
  font-family: "Helvetica", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
}

img {
  margin: 0 auto;
  max-width: 50%;
  border: 0;
}

.state {
  display: none;
}

.state__setup {
  position: relative;
  padding: 30px;
  text-align: center;
  background-color: #f2f2e9;
}

.state.state__setup.show {
  display: block;
}

.state__setupLogo {
  width: 105px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

.state__setupTitle,
.state__setupSubTitle {
  font-weight: 700;
  color: #333333;
}
.state__setupTitle {
  font-size: 2.25em;
  margin: 0;
}

.state__setupSubTitle {
  font-size: 1.5em;
  margin: 0 0 30px 0;
}

.state__setupSubTitle span {
  color: #f85418;
}

.state__setupTokenInput {
  width: 90%;
  padding: 20px 30px;
  border: 2px solid #cccccc;
  background-color: white;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  color: #555;
  margin: 0 0 30px 0;
  border-radius: 3px;
}

.state__setupTokenInputMessage {
  font-size: 0.9em;
  color: #f85418;
  position: relative;
  top: -20px;
}

.state__setupSubmit {
  background-color: #19a974;
  border: 2px solid #148a5e;
  color: white;
  text-align: center;
  font-size: 1.2em;
  margin: 0 auto 20px auto;
  font-weight: 600;
  display: block;
  padding: 15px 30px;
  min-width: 200px;
  border-radius: 3px;
  cursor: pointer;
}

.state__setupTokenLink {
  color: #555555;
}

.state__loading {
  text-align: center;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-color: #f2f2e9;
}

.state.state__loading.show {
  display: flex;
}

.state__loadingContent {
  flex: 1;
}

.state__loadingLogo {
  animation: spin 3s infinite linear;
  margin: 0;
  margin-bottom: 30px;
}

@keyframes spin {
  100% {
      transform:rotate(360deg);
  }
}

.state__loadingText {
  font-weight: 600;
  margin: 0;
  color: #555;
}

.state__projectList {}
.state.state__projectList.show {
  display: block;
}

.state__projectListHeader {
  clear: both;
  background-color: white;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border-bottom: 1px solid #efefef;
}

.state__projectListHeaderTitle {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  color: #333;
  flex: 1;
}

.state__projectListHeaderButton {
  flex: 1;
  text-align: right;
  position: relative;
}

.state__projectListHeaderButtonIcon {
  width: 20px;
}

.state__projectListHeaderSearch {
  position: relative;
  border-bottom: 1px solid #efefef;
  height: 50px;
  width: 100vw;
  background-color: white;
}

.state__projectListHeaderSearchIcon {
  position: absolute;
  top: 17px;
  left: 30px;
  width: 16px;
  height: 16px;
  z-index: 2;
}

.state__projectListHeaderSearchInput {
  position: absolute;
  top: 0;
  left: 61px;
  width: calc(100% - 91px);
  border: none;
  color: #555;
  height: 48px;
  z-index: 1;
}

.state__projectListItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 390px;
}

.state__projectListItem {
  padding: 0 30px;
  line-height: 4em;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
}

.state__projectListItem:nth-child(2n+2) {
  background-color: white;
}

.state__projectListItem:hover {
  background-color: #f8ffea;
}

.state__projectListItemFlag {
  height: 20px;
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 5px;
}

.state__projectListItemDescription {
  display: inline-block;
  line-height: 20px;
  color: #333333;
  font-style: 1em;
  margin: 0 5px;
  font-weight: 500;
}

.state__projectListItemButton {
  display: inline-block;
  float: right;
  position: relative;
  top: 32px;
  zoom: 0.7;
}

.settingsMenu {
  position: absolute;
  width: 200px;
  top: 24px;
  right: 0;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 0px 14px 3px #eaeaea;
  border-radius: 4px;
  border-top: 1px solid #efefef;
  background-color: white;
  z-index: 3;
}

.settingsMenu__item {
  font-size: 0.9em;
  font-weight: 400;
  padding: 10px;
  color: #19a974;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #f1f1f1;
}

.settingsMenu__item:hover {
  background-color: #f8f8f8;
  border-radius: 4px;
}

.settingsMenu .settingsMenu__item:last-child {
  border-bottom: none;
}

/* ON/OFF SWITCH BY proto.io */

.onoffswitch {
  position: relative; width: 55px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 0px solid #FFFFFF; border-radius: 30px;
  background-color: #9E9E9E;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 30px; margin: -5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 31px;
  border-radius: 30px;
  box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #d5eaa9;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #a8d253;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: #9cc34b;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
